# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    echo ${AZURE_DEVOPS_CLI_PAT} | az devops login
    az devops configure --defaults organization=https://dev.azure.com/AzSeedTeam project="AzSeed" --use-git-aliases true
    az pipelines run --branch Trigger_test_2 --name SSAzSeedTeam.daytrader-MultiStage --org https://dev.azure.com/AzSeedTeam/ -p AzSeed
  env:
    AZURE_DEVOPS_CLI_PAT: $(System.AccessToken)

#- task: Bash@3
#  inputs:
#    filePath: 'Trigger.sh'
#    failOnStderr: true

